// HEADER MEDIA

@media (max-width: 1130px) {
    .intro-buttons a div {
        padding: 5px 15px;
    }
}

@media (max-width: 885px) {
    header nav img {
        width: 60px;
    }
    
    .background-design .five {
            display: none;
    }
    
    header h1 {
        font-size: 35px;
    }

    header h1 span {
        display: block;
        width: 275px;
    }

    header h2 {
        font-size: 25px;
    }

    header p {
        font-size: 17px;
    }
}

@media (max-width: 740px) {
    .intro-container {
        width: 40%;
    }

    .intro-info {
        margin-top: 40px;
    }

    header h1 {
        margin: 5px 0px;
    }

    header h2 {
        margin: 0;
    }

    .icons {
        flex-direction: column;
        position: absolute;
        left: -30px
    }

    .intro-buttons,
    .intro-buttons a {
        display: block;
        width: 180px;
        text-align: center;
    }

    .intro-buttons a:nth-child(2) {
        margin-left: 0;
        margin-top: 15px;
      }
}

@media (max-width: 610px) {
    .background-design .three {
        display: none;
    }
    header {
        height: auto;
        padding-bottom: 30px;
    }
    .nav-bar {
        padding-left: 0;
    }

    header nav ul li {
        margin-right: 25px;
    }

    header nav img {
        position: relative;
        left: 12px;
    }
}

@media (max-width: 520px) {
    .intro-info {
        width: 100%;
    }

    .intro-img {
        position: absolute;
        width: 140px;
        right: 25%;
        top: 1%;
        background-color: transparent;
    }

    .nav-bar {
        flex-direction: column;
        position: absolute;
        top: 0;
        right:0;
        li {
            margin-right: 5px;
            margin-top: 10px;
            a {
                font-size: 15px;
            }
        }
    }
    
    .nav-bar li a:hover::after {
        display: none;
    }

    .nav-bar li a:hover {
        color: $red;
    }
}

@media (max-width: 400px) {
    .nav-bar {
        display: none;
    }

    .intro-img{
        right: 10%;
    }
}



// LATEST WORK
@media (min-width:980px) {
    .scroll-menu {
        display: inline-block;
    }
}

@media (max-width: 950px) {
  
    .background-design2 .two {
        top: 40%;
        left: 0;
    }
    .scroll-menu {
        display: none;
        position: absolute;
        animation: fadeInLeft;
        animation-duration: .3s;
        top: 45px;
    }

    .container {
        display: block;
        position: absolute;
        top: 25px;
        left: 5px;
    }

    .latest-work-all {
        margin-top: 0;
    }
    .proj1 {
        grid-column: 1/7;
    }   

    .proj2 {
        grid-column: 7/13;
    }

    .proj3 {
        grid-column: 1/7;
    }

    .proj4 {
        grid-column: 7/13;
    }

    .proj5 {
        grid-column: 1/7;
    }

    .proj6 {
        grid-column: 7/13;
    }
}

@media (max-width: 600px) {
    .background-design2 {
        .one {
            top: 15%;
            right: 2%;
        }
        .two {
            top: 48%
        }
        .three {
            bottom: 150px;
        }
    }

    .proj1,
    .proj2,
    .proj3,
    .proj4,
    .proj5,
    .proj6 {
        grid-column: 2/12;
    }
}

// SKILLS

@media (max-width: 600px) {
    .background-design3 .two {
        top: 10%;
        right: 5%;
    }

    .skills-1,
    .skills-2,
    .skills-3 {
        width: 40%;
    }

    .web-skills p {
        font-size: 15px;
    }
}

// ABOUT ME

@media (max-width: 1000px) {
    .about-button-sections li {
    margin-right: 10px;
  }
  
    .about-button-sections li button {
    font-size: 20px;
  }
  
    .download-link .inner div {
    padding: 0;
  }
  
}

@media (max-width: 850px) {
    .resume {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
  }
  
    .outer-circle {
        width: 300px;
  }
  
    .about-links img {
        height: 300px;
        position: relative;
        bottom: 30px;
  }
  
    .about-resume {
        width: 100%;
  }

    .education ul,
    .soft-skills ul {
        padding-left: 0;
    }

  
}

@media (max-width: 500px) {
    .download-buttons {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    
    .download-link:nth-child(2){
        margin-top: 20px;
    }

    .download-link a {
        font-size: 15px;
    }

    .about-button-sections li {
        margin-right: 0;
    }

    .background-design4 .two {
        left: 5px;
        bottom: 25px;
    }
}


// CONTACT ME

@media (max-width: 1200px) {
    .contact-info {
        left:0;
    }

    .contact-mail {
        left: 10%;
    }
}

@media (max-width: 870px) {
    .contact-mail {
        left: 25px;
    }

    .contact-info h2 {
        font-size: 30px;
    }
    .contact-info ul li i {
        margin-right: 10px;
    }

    .contact-info p {
        font-size: 15px;
       } 
}

@media (max-width: 770px) {
    .background-design5 .one {
        left: -60px;
    }
    .background-design5 .two {
        bottom: 60%;
        right: 10px;
    }
    .background-design5 .three {
        right: -20px;
    }
    .background-design5 .four {
        top: 40%;
    }
    .contact {
        flex-direction: column;
        padding: 40px;
        bottom: 50px;
    }

    .contact-mail {
        left: 0;
        order: -1;
        margin-bottom: 25px;
    }

    .contact-info {
        width: 100%;
    }

    .map {
        height: 25vh;
    }
}