// COLOURS
$footer-purple: #7100e5;
$dark-purple: #7f00ff;
$light-purple: #e5cbff;
$light-purple2: #cb99ff;
$light-pink: #f1e5ff;
$pink: #fc00ff;
$dark-pink: #e100ff;
$lightlight-blue: #eff7ff;
$dark-grey: #c2c2c2;
$light-grey: #dfdfdf;
$red: #e91d61;